

* {
    box-sizing: 0;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Funnel Display', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: blanchedalmond;
    background-color: rgb(8, 8, 8);
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    display: block;
}

h1 {
    text-align: center;
}


/* GRID */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 1em;
    border-radius: 1em;
    margin: 0 auto;
    max-width: 1440px;
}


/* CARD */

.card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    max-width: 350px;
    background-color: rgb(26, 26, 43);
}

/* HEADER */

.header {
    display: flex;
    justify-content: center;
}

.productImg {
    width: 100%;
    max-width: 350px;
}

/* MAIN */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

h2 {
    text-align: center;
    color: rgb(224, 42, 42);
    font-size: 2.25rem;
    padding-bottom: 0.5rem;
}

p {
    text-align: left;
    color: blanchedalmond;
    font-size: 0.75rem;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.buy {
    text-align: center;
    justify-content: center;
    background-color: rgb(224, 42, 42);
    color: blanchedalmond;
    padding: 0.5rem;
    border-radius: 1rem;
}